*{
    margin:0;
    padding: 0;
}

@font-face {
    font-family: "omoriFont";
    font-style: normal;
    font-weight: 400;
    src: url("res/font/MyUglyHandwriting-Regular.otf");
}


body{
    margin: auto;
    background-color: #e7e7e7;
    background-image: url("res/omori_sky.gif");
    background-size: contain;
    background-repeat: repeat-y;
    font-family: omoriFont;
}

body button{
    font-family: omoriFont;
    font-weight: 600;
}

.container{
    margin: -130px auto 80px;
    width: 80%;
    line-height: 1.5;
    background-color: white;
    transition: -webkit-filter 1s ease-in;
    border-radius: 20px;
    /*QUELLO GIUSTO*/
    /*transition: all 2s ease;*/
}

#lang{
    display: none;
}

.header{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: white;
    width: min-content;
    margin-bottom: 90px;
}

#lightbulb{
    max-height: 143px;
    max-width: 170px;
    position: sticky;
    cursor: pointer;
}


.header a{
    display: flex;
}

.header a img{
    max-width: 64px;
    max-height: 64px;
}

#swap-language{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    left: 90%;
    top: 0px;
    width: min-content;
    z-index: 100;
}
#dark-mode{
    background-color: transparent;
    border-color: transparent;
}


.true-logo{
    display: flex;
    flex-direction: column;
    max-height: 143px;
    -webkit-filter: invert(0%);

}

.true-logo #big-logo{
    transition: -webkit-filter 1s ease-in;
}

.true-logo #italian{
    position: relative;
    top: -14px;
    /*Per il black space*/
    -webkit-filter: invert(0%);
}



#twitter{
    padding: 0px 10px 10px 10px;
    transition: -webkit-filter 1s ease-in;
}

#discord {
    transition: -webkit-filter 1s ease-in;
}

#discord img {
    max-width: 80px;
    max-height: 80px;
}



.container-button-downloads{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    padding-top: 50px;
}

.container-button-downloads a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.btn{
    border: 3px solid black;
    border-radius: 8px;
    background-color: white;
    padding: 5px;
    font-size: 20px;
    transition: -webkit-filter 1s ease-in
}


.btn:hover{
    background-color: #e7e7e7;
    /*AGGIUNGERE ANIMAZIONI*/
}

#swap-btn{
    max-width: 110px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#intro{
    display: flex;
    justify-content: center;

}

#intro h1{
    letter-spacing: 15px;
    font-size: 20px;
}

.container-info{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    margin: auto;
    width: 730px;
    grid-template-rows: 30% 70%;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
}

#project
{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    margin: 0 10px 10px 10px;
    padding: 0 10px 10px 10px;
    text-align: center;
    font-size: 17px;
}

#disclaimer-section{
    margin-top: -45px;
}

#new-news{
    margin-top: 50px;
    margin-bottom: 50px;
}

.container-info h1{
    padding-top: 10px;
    grid-column: 2;
    text-align: center;
}
.container-info p{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 17px;
}

.container-info h2{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-end;
    position: relative;
    top: 8px;
    padding-right: 20px
}

#section-trailer {
    display: grid;
    margin: auto;
    width: 730px;
    grid-template-rows: 10% 90%;
    background-color: white;
    padding-bottom: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

#section-trailer h1{
    margin: auto;
    text-align: center;
}

#trailer-yt{
    margin: auto;
    transition: -webkit-filter 1s ease-in;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 3px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;

}

.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button{
   cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

#modal-body{
    text-align: center;
    padding: 10px 15px;
}

#button-div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

#button-div #confirm{
    min-width: 56px;
}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events:none;
    z-index: 1;
    transition: -webkit-filter 5s ease-in;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

/*SLIDER IMMAGINI*/

.slider{
    max-width: 700px;
    border: 2px solid  black;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.container-slider h1{
     text-align: center;
}


.container-slider{
    border-radius: 20px;
    background-color: white;
    margin: 78px auto;
    border: 2px solid black;
    width: 730px;
    position: relative;
    bottom: 28px;
    padding: 10px;
}

.container-screenshot img{
    /*AUMENTA GRANDEZZA IMMAGINE*/
    width: 350px;
    height: 196px;
    margin: 25px;
    padding: 2px;
    border: 3px solid;
    border-radius: 5px;
    transition: -webkit-filter 1s ease-in;
}

.slider .left-slide,.slider .right-slide{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #444444;
    border-radius: 50%;
    color:#ffffff;
    font-size: 20px;
    top:50%;
    cursor: pointer;
    margin-top: -20px;
    text-align: center;
    line-height: 40px;

}
.slider .left-slide:hover,.slider .right-slide:hover{
    box-shadow: 0px 0px 10px black;
    background-color: #29a8e2;
}

.slider .left-slide{
    left: 30px;
}
.slider .right-slide{
    right: 30px;
}
.slider .slider-items .item img{
    max-width: 100%;
    display: block;
    animation:zoom 1s ease;
}

@keyframes zoom{
    0%{transform: scale(2);opacity: 0}
    50%{transform: scale(2);}
    100%{transform: scale(1);opacity:1}
}
.slider .slider-items .item{
    display: none;
    position: relative;
}
.slider .slider-items .item .caption{
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,.5);
    line-height: 60px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;

}

.slider .slider-items .item.active{
    display: block;
}



@media ( max-width: 1050px ) {
    #swap-language{
        left: 1100px;
    }
}



